html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    color: #258dca !important;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
}

/* .adv-title{
    font-size: 21px;
    font-weight: 400;
    padding: 0;
    margin: 0 0 15px;
    text-align: justify;
    color: #000!important;
} */
.notice .form-group.row {
    border-bottom: 1px solid #efefef;
}
.control-label{
    font-weight: 600;
}

.bg-modal{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content{
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 2.5rem;
    position: relative;
}

.up-img svg{
    width: 6rem;
    height: 6rem;
}

.box-file {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.up-label {
    margin: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000000;
    cursor: pointer;
    text-align: center;
    display: block;
    overflow: hidden;
}

.box-file + .up-label * {
    pointer-events: none;
}

.box-file:focus + .up-label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.up-button {
    background: #258dca ;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    color: #fff;
    display: flex;
    font-size: 1.25rem;
    font-weight: 700;
    margin: auto;
    margin-top: 2rem;
    /* overflow: auto; */
    padding: 1rem 2rem;
}

.up-button:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, .5);
}

.up-button:active {
    box-shadow: none;
}

.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 2.3rem;
    transform: rotate(45deg);
    cursor: pointer;
}