{% extends 'core/dashboard.html' %}
{% load widget_tweaks %}

{% block page-content %}
    <style>
        ul.errorlist{
            list-style-type: none;
            margin: 0;
            text-align: left;
        }
        .form-signin {
            width: 100%;
            max-width: 350px;
            padding: 15px;
            margin: auto;
        }
        .form-signin .checkbox {
            font-weight: 400;
        }
        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[name="password2"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>    

    <form class="form-signin" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Account Details</h1>
        {% csrf_token %}
        {% if success %}
            <div class="m-2 p-1 alert alert-success text-center alert-dismissible">
                <a href="#" class="close text-center p-1" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> Details are updated.
            </div>
        {% endif %}
        {% if account_form.non_field_errors %}
            <div style="color:red;">
                <p>{{ account_form.non_field_errors }}</p>
            </div>
        {% endif %}
        {% for field in account_form %}
            <p> 
                {% render_field field class="form-control" placeholder=field.label %}
                {% for error in field.errors %}
                    <small style="color: red;">{{ error }}</small>
                {% endfor %}
            </p>
        {% endfor %}
        <button class="btn btn-success btn-block" type="submit">Save</button>
    </form>    

{% endblock %}