{% extends 'base.html' %}
<!-- Static assets -->
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock stylesheets %}

{% block content %}
<div id="wrapper"  class="menu-displayed">
    <!-- SIDEBAR -->
    <div id="sidebar-wrapper">
        <div class="list-group-item" style="font-size: 20px;align-content: center;"><a href="{% url 'core:dashboard' %}" class="text-reset text-decoration-none"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></div>
        <!-- <a class="list-group-item" href="#">{{ request.user.first_name }}</a> -->
        <ul class="sidebar-nav">
            {% if user.is_authenticated %}
                <li><a href="{% url 'accounts:account' %}"><i class="fa fa-user" aria-hidden="true"></i> &nbsp; My Account</a></li>
                {% if request.user.is_bidder %}
                    <li><a href="#"><i class="fa fa-gavel" aria-hidden="true"></i> &nbsp; My Bids</a></li>
                {% endif %}
                {% if request.user.is_orgadmin %}
                    <li><a href="#"><i class="fa fa-newspaper-o" aria-hidden="true"></i> &nbsp; My Ads</a></li>
                    <li><a href="#"><i class="fa fa-university" aria-hidden="true"></i> &nbsp; Org Setting</a></li>
                    <li><a href="#"><i class="fa fa-compress" aria-hidden="true"></i> &nbsp; Combine Shares</a></li>
                    <li><a href="{% url 'org:invite_member' %}"><i class="fa fa-users" aria-hidden="true"></i> &nbsp; Invite Members</a></li>
                {% elif request.user.is_staff%}
                    <li><a href="#"><i class="fa fa-newspaper-o" aria-hidden="true"></i> &nbsp; My Org Ads</a></li>
                    <li><a href="#"><i class="fa fa-university" aria-hidden="true"></i> &nbsp; Org Details</a></li>
                    <li><a href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i> &nbsp; Forward Share</a></li>
                {% endif %}
            {% else %}
                <li> &nbsp; Login or Sign Up</li>
            {% endif %}
        </ul>
    </div>
    
    <!-- Main Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <!-- <div class="col-md-1"> -->
                    <div class="d-inline-block ml-2 mt-1">
                        <a href="#" id="menu-toggle"><i class="fa fa-caret-square-o-left" style="font-size:24px" id="sidebar-drawer-icon"></i></a>
                    </div>
                    <div class="d-inline-block ml-2 mb-1">
                        <h3>Dashboard</h3>
                    </div>
                <!-- </div> -->
            </div>
            <div class="row">
                {% block page-content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% block ds-scripts %}{% endblock ds-scripts %}
<!-- Menu toggle script -->
<script>
    $("#menu-toggle").click(
        function(e){
            e.preventDefault();
            $("#wrapper").toggleClass("menu-displayed");
            $("#sidebar-drawer-icon").toggleClass("fa-caret-square-o-left fa-caret-square-o-right");
        });
</script>
{% endblock scripts %}