{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/advdet.css' %}">
{% endblock stylesheets %}

{% block content %}
<div class="row">
    <div class="col-sm-8 mx-auto p-3 mb-4">
        <div class="row">
            <legend class="col-sm-9 mb-4 h3">{{ adv_detail.title }}</legend>
            {% if request.user == adv_detail.author %}
            <div class="col-sm-3">
                <div class="btn btn-success go inline float-right"><a class="text-reset text-decoration-none" href="{% url 'advposts:advert-update' adv_detail.tenderID %}">Update</a></div>
            </div>
            {% endif %}
        </div>
        <!-- Card Notice -->
        <div class="card mb-4 notice">
            <div class="card-header"> Tender Notice </div>
            <div class="card-body">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 control-label">TDR No.</label>
                    <div class="col-sm-9">{{ adv_detail.tenderID }}</div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 control-label">Tendering Authority</label>
                    <div class="col-sm-9">{{ adv_detail.organisation }}</div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 control-label">Department</label>
                    <div class="col-sm-9">{{ adv_detail.dept }}</div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 control-label">Tender Brief</label>
                    <div class="col-sm-9">{{ adv_detail.title }}</div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 control-label">Status</label>
                    {% if adv_detail.state == 'Active' %}
                    <div class="col-sm-9" style="color: green;"><i class="fa fa-check-circle" aria-hidden="true"></i> {{ adv_detail.state }}</div>
                    {% else %}
                    <div class="col-sm-9" style="color: red;"><i class="fa fa-times-circle" aria-hidden="true"></i> {{ adv_detail.state }}</div>
                    {% endif %}
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 control-label">Publish Date</label>
                    <div class="col-sm-9">{{ adv_detail.created_at|date:"d-m-Y" }}</div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 control-label">Due Date</label>
                    <div class="col-sm-9">{{ adv_detail.bid_end_date|date:"d-m-Y" }}</div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 control-label">Opening Date</label>
                    <div class="col-sm-9">{{ adv_detail.bid_start_date|date:"d-m-Y" }}</div>
                </div>
            </div>
        </div>
        {% if request.user.id in org %}
        <div class="card mb-4 notice">
            <div class="card-header"> Member's Information </div>
            <div class="card-body">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 control-label">Upload Opening Date</label>
                    <div class="col-sm-9">{{ adv_detail.part_start_date|date:"d-m-Y" }}</div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 control-label">Upload Deadline</label>
                    <div class="col-sm-9">{{ adv_detail.part_end_date|date:"d-m-Y" }}</div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if request.user == adv_detail.author %}
        <div class="card mb-4 notice">
            <div class="card-header"> Combiner Information </div>
            <div class="card-body">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 control-label">Combine Opening Date</label>
                    <div class="col-sm-9">{{ adv_detail.comb_start_date|date:"d-m-Y" }}</div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 control-label">Combine Deadline</label>
                    <div class="col-sm-9">{{ adv_detail.comb_end_date|date:"d-m-Y" }}</div>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- Card Details -->
        <div class="card mb-4">
            <div class="card-header"> Tender Description </div>
            <div class="card-body">
                {{ adv_detail.descrip }}
            </div>
        </div>
        <!-- Attachment -->
        <div class="card mb-4">
            <div class="card-header"> Attachment </div>
            <div class="card-body">
                <a class="btn btn-outline-primary mx-auto" href="{{ adv_detail.advFile.url }}" download><i class="fa fa-download"></i> Download</a>
            </div>
        </div>
        
        <!-- Controls -->
        <div class="card mb-4">
            <div class="card-header"> Actions </div>
            {% if request.user.is_authenticated %}
            <div class="card-body">
                {% if request.user.is_bidder %}
                <a href='#' class="btn btn-outline-success mx-auto" id="upload-bid">Place Bid</a>
                <button class="btn btn-outline-info mx-auto">Check Bid Status</button>
                {% elif request.user.is_staff and request.user.id in org%}
                <button class="btn btn-outline-success mx-auto">Pass Shares</button>
                <button class="btn btn-warning mx-auto">View all</button>
                {% elif request.user.is_orgadmin and request.user.id in org%}
                <button class="btn btn-outline-success mx-auto">Combine all</button>
                <button class="btn btn-warning mx-auto">Select & Combine</button>
                {% else %}
                <h6>No Actions Available</h6>
                {% endif %}
            </div>
            {% else %}
            <div class="card-body">
                <a class="btn btn-outline-success mx-auto font-weight-bold" href="{% url 'accounts:login' %}">Log In</a>
                <a class="btn btn-outline-info mx-auto font-weight-bold" href="{% url 'accounts:signup' %}">Sign Up</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% if request.user.is_bidder %}
<!-- Upload Popup -->
<div class="bg-modal">
    <div class="modal-content">
        <div class="close">+</div>
        <div class="up-img">
            <svg x="0px" y="0px" viewBox="0 0 64 62" style="enable-background:new 0 0 64 62;" xml:space="preserve">
                <style type="text/css">
                    .st0{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                </style>
            <g id="spa-launch">
                <path class="st0" d="M33,27.1h-8c0,0-2-6-2-12c0-8,6-14,6-14s6,6,6,14C35,21.1,33,27.1,33,27.1z"/>
                <line class="st0" x1="29" y1="17.1" x2="29" y2="27.1"/>
                <polyline class="st0" points="25,27.1 17,27.1 17,23.1 23.1,17.1 	"/>
                <polyline class="st0" points="33,27.1 41,27.1 41,23.1 34.9,17.1 	"/>
                <path class="st0" d="M18,41.2c0.5-5.7,5.2-10.1,11-10.1c5.1,0,9.3,3.4,10.6,8.1"/>
                <path class="st0" d="M48,41.1c-0.2-3.4-3.1-6-6.5-6c-1.2,0-2.4,0.3-3.3,0.9"/>
                <path class="st0" d="M42.3,47.1c0,0-1-4-6-4"/>
                <path class="st0" d="M26.3,43.1c-3-1-4,2-4,2s-3-2-5,0s-1,4-1,4"/>
                <path class="st0" d="M9,46.1c-0.8-0.6-1.9-1-3-1c-2.8,0-5,2.2-5,5s2.2,5,5,5h46c2.8,0,5-2.2,5-5c0-5-4-9-9-9
                    c-0.9,0-1.8,0.1-2.6,0.4"/>
                <path class="st0" d="M18.8,37.9c-1.1-0.5-2.4-0.8-3.8-0.8c-4.6,0-8.5,3.5-8.9,8"/>
            </g>
            </svg>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="bid_img" id="file" class="box-file">
            <label class="up-label" for="file"><strong>Choose a file</strong><span class="box-dragndrop"> or drag it here</span>.</label>
            <button type="submit" class="up-button">Upload</button>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/upload.js' %}"></script>
{% endblock scripts %}